
# Created by https://www.gitignore.io/api/netbeans,
# Edit at https://www.gitignore.io/?templates=netbeans,

#!! ERROR:  is undefined. Use list command to see defined gitignore types !!#

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.gitignore.io/api/netbeans,
